{# @var ea \EasyCorp\Bundle\EasyAdminBundle\Context\AdminContext #}
{# @var field \EasyCorp\Bundle\EasyAdminBundle\Dto\FieldDto #}
{# @var entity \EasyCorp\Bundle\EasyAdminBundle\Dto\EntityDto #}
{% if ea.crud.currentAction == 'detail' %}
    <table>
        <tr>
            <th>ID</th>
            <th>Coordinate X</th>
            <th>Coordinate y</th>
        </tr>
        {% for value in field.value %}
            <tr>
                <td>{{ value.id }}</td>
                <td>{{ value.coordinateX }}</td>
                <td>{{ value.coordinateY }}</td>
            </tr>
        {% endfor %}
    </table>
{% else %}
    <span class="badge badge-secondary">{{ field.formattedValue }}</span>
{% endif %}
